.formSection {
	display: flex;
	width: 100%;
	justify-content: center;
}

.formContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 50px; */
	width: min(300px,90%);
	height: 450px;
	border: 2px solid rgb(0 0 0 / 0.4);
	background-color: rgb(0 0 0 / 0.1);
	border-radius: 15px;
	margin: 50px;
}

.formContent > * {
	font-family: "Montserrat", sans-serif;
	margin: 1rem;
}

.formLabel {
	font-size: 2rem;
	font-weight: 500;
}

.formInput,
.formSubmit {
	padding: 0.5rem;
	border-radius: 999px;
	width: 15rem;
}

.formSubmit {
	background-color: #800040;
	color: white;
	border: none;
	cursor: pointer;
	box-shadow: 5px 5px 0 rgb(0 0 0 / 0.4);
	transition: box-shadow 500ms ease;
}

.formSubmit:active {
	background-color: #600040;
}

.formSubmit:hover {
	box-shadow: 10px 10px 0 rgb(0 0 0 / 0.4);
	transition: box-shadow 500ms ease;
}
